/* choices */
.choices,
.choices__inner {
  height: 28px;
  min-height: 28px;
  width: 100%;
  background: var(--color2);
  color: var(--editorText);
  padding: 0;
  border: none;
  overflow: visible;
}
.choices[data-type*="select-one"] .choices__inner {
  padding: 0;
}
.choices__list.choices__list--single {
  padding: 0;
}
/* list */
.choices__list--dropdown,
.choices__list[aria-expanded] {
  width: calc(100% - 2px);
  background-color: var(--color2);
  color: var(--editorText);
  padding: 0;
  border: solid 1px var(--color3);
  border-radius: 0;
  margin-top: 1px;
}
/* list when open */
.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border: solid 1px var(--color3);
  border-radius: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}
/* list item */
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  height: 28px;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* font select menu height */
.font-select-row .is-open .choices__list--dropdown,
.font-select-row .is-open .choices__list[aria-expanded] {
  height: calc(100vh - (36px + 28px + 25px + 10px));
  max-height: 328px;
}
.font-select-row .choices__list--dropdown .choices__list,
.font-select-row .choices__list[aria-expanded] .choices__list {
  height: calc(100% - 28px);
  max-height: 300px;
}
/* list hovered item */
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: var(--color3);
}
/* arrow svg */
.choices[data-type*="select-one"]::after {
  border: none;
  content: "";
  position: absolute;
  pointer-events: none;
  top: 12px;
  right: 0px;
  width: 14px;
  height: 7px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.77 5.65"><polyline fill="none" stroke="%23b6b9bf" stroke-miterlimit="10" points=".35 .35 4.94 4.94 9.41 .35"/></svg>')
    no-repeat center;
  background-size: contain;
}
.choices[data-type*="select-one"].is-open::after {
  transform: scaleY(-1);
  margin-top: -2px;
}
/* font input */
.choices[data-type*="select-one"] .choices__input {
  background-color: var(--color1);
  padding: 0;
  width: 100%;
  height: 28px;
  font-family: inherit;
  color: var(--editorText);
  padding: 0 5px;
  border: none;
  border-radius: 0;
  outline: solid 3px var(--color2);
  outline-offset: -3px;
}
/* scrollbar */
.choices__list::-webkit-scrollbar {
  width: 12px;
}
.choices__list::-webkit-scrollbar-track {
  background: transparent;
}
.choices__list::-webkit-scrollbar-thumb {
  background: var(--color3);
  border-left: solid 2px var(--color2);
}
.choices__list::-webkit-scrollbar-button,
.choices__list::-webkit-scrollbar-corner {
  display: none;
}
